<nz-card nzHoverable [nzCover]="coverTemplate" class="producto-card">
  <div class="badges" (click)="openSelectionModal()" style="cursor: pointer;">
    <app-promocion-badge *ngIf="isPromo" texto="Promo" [animar]="true"></app-promocion-badge>
    <span *ngIf="producto.featured" class="badge-featured">⭐ Pop</span>
    <app-promocion-badge *ngIf="$any(producto).show_savings && $any(producto).realPrice > producto.price"
      [texto]="'Ahorra ' + (($any(producto).realPrice - producto.price) | currency:'COP':'symbol-narrow':'1.0-0')"
      [animar]="false"></app-promocion-badge>
  </div>
  <nz-card-meta [nzTitle]="producto.name" [nzDescription]="producto.description || ''" (click)="openSelectionModal()"
    style="cursor: pointer;">
  </nz-card-meta>
  <!-- <ng-template #extraTemplate>
    <div class="price-container" (click)="openSelectionModal()">
      <span class="title">{{ producto.name }}</span>
      <div class="prices-wrapper">
        <span class="price">{{ producto.price | currency:'COP':'symbol-narrow':'1.0-0' }}</span>
        <span *ngIf="$any(producto).show_savings && $any(producto).realPrice > producto.price" class="old-price">
          {{ $any(producto).realPrice | currency:'COP':'symbol-narrow':'1.0-0' }}
        </span>
      </div>
    </div>
  </ng-template> -->

  <div class="card-footer">


    <div class="prices-wrapper" (click)="openSelectionModal()">
      <span class="price">{{ producto.price | currency:'COP':'symbol-narrow':'1.0-0' }}</span>
      <span *ngIf="$any(producto).show_savings && $any(producto).realPrice > producto.price" class="old-price">
        {{ $any(producto).realPrice | currency:'COP':'symbol-narrow':'1.0-0' }}
      </span>
    </div>


    <div class="card-footer-buttons">
      <button nz-button nzType="primary" nzShape="round" (click)="$event.stopPropagation(); addToCartDirectly()">
        <span nz-icon nzType="plus"></span>
      </button>
    </div>
  </div>
</nz-card>
<ng-template #coverTemplate>
  <!-- Usar lazy loading nativo si no hemos creado directiva custom -->
  <div (click)="openSelectionModal()" style="cursor: pointer;">
    <img [alt]="producto.name" [src]="producto.image_url" loading="lazy" class="producto-img" />
  </div>
</ng-template>